body{
    background: #000;
}
.container{
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    flex-flow: column wrap;
}

.img_ctn{
    overflow: hidden;
    width: 20%;
}

img{
    width: 100%;
}